.expander {
  background-color: transparent;
  box-shadow: 0px 0px 4px var(--theme-border-color);
}

.expander-header {
  background-color: transparent;
  display: flex;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.expander-header:hover{
  background-color: #77777777;
}

.expander-subject {
  flex-grow: 1;
  padding: 10px;
  align-self: center;
}

.expander-icon {
  background-color: transparent;
  width: 50px;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  padding: 10px;
}

.expander-content {
  background-color: transparent;
  transition-duration: 300ms;
  overflow-y: hidden;
  padding: 10px;
}